<a href="https://colab.research.google.com/github/CesiaFlores09/PROGRAMACION-III/blob/master/Tarea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def convertirCF(c):
  f = (c * 9/5)+ 32
  return f

c = float(input("Grado Celcius: "))
print("Grado Celsius: ", str(c), "a Grado Farrenheit: ", str( convertirCF(c) ))

Grado Celcius: 90
Grado Celsius:  90.0 a Grado Farrenheit:  194.0

In [ ]:


fechaNacimiento = int(input("Ingrese su a単o de nacimiento: "))

AnioActual = 2021

Edad = AnioActual - fechaNacimiento

print("Su edad es: ", Edad, "a単os")

Ingrese su a単o de nacimiento: 2001
Su edad es:  20 a単os

In [ ]:
Lab1C1 = float(input("Ingrese la nota del laboratorio 1 del computo 1: "))
Lab2C1 = float(input("Ingrese la nota del laboratorio 2 del computo 1: "))
parcial1C1 = float(input("Inglese la nota del parcial del computo 1: "))
NotaC1= (Lab1C1*0.30 + Lab2C1*0.30 + parcial1C1*0.40)
print("La nota del computo 1 es: ", NotaC1)

Lab1C2 = float(input("Ingrese la nota del laboratorio 1 del  computo 2: "))
Lab2C2 = float(input("Ingrese la nota del laboratorio 2 del computo 2: "))
parcial1C2 = float(input("Inglese la nota del parcial del computo 2: "))
NotaC2= (Lab1C2*0.30 + Lab2C2*0.30 + parcial1C2*0.40)
print("La nota del computo 2 es: ", NotaC2)

Lab1C3 = float(input("Ingrese la nota del laboratorio 1 del  computo 3: "))
Lab2C3 = float(input("Ingrese la nota del laboratorio 2 del computo 3: "))
parcial1C3 = float(input("Inglese la nota del parcial del computo 3: "))
NotaC3= (Lab1C3*0.30 + Lab2C3*0.30 + parcial1C3*0.40)
print("La nota del computo 3 es: ", NotaC3)

NotaCiclo=(NotaC1 + NotaC2 + NotaC3)/3
print("La nota del ciclo es: ", NotaCiclo)

Ingrese la nota del laboratorio 1 del computo 1: 7
Ingrese la nota del laboratorio 2 del computo 1: 4
Inglese la nota del parcial del computo 1: 3
La nota del computo 1 es:  4.5
Ingrese la nota del laboratorio 1 del  computo 2: 6
Ingrese la nota del laboratorio 2 del computo 2: 6
Inglese la nota del parcial del computo 2: 7
La nota del computo 2 es:  6.4
Ingrese la nota del laboratorio 1 del  computo 3: 5
Ingrese la nota del laboratorio 2 del computo 3: 5
Inglese la nota del parcial del computo 3: 3
La nota del computo 3 es:  4.2
La nota del ciclo es:  5.033333333333334

In [ ]:
conversion = lambda c:(c * 9/5)+ 32 #Con lambda
c = float(input("Grados Celsius: "))
print("Grados Celsius: ", c, "a Grados a Fahrenheit: ", conversion(c))

Grados Celsius: 90
Grados Celsius:  90.0 a Grados a Fahrenheit:  194.0

In [ ]:
edad = lambda FechN, AniA: AniA-FechN #Con lambda
FechN = int(input("Ingrese la fecha de nacimiento: "))
AniA= 2021
print("Su edad es: ", edad(FechN, AniA))

Ingrese la fecha de nacimiento: 2001
Su edad es:  20

In [ ]:
NotaC1=lambda Lab1C1, Lab2C1, parcial1C1:(Lab1C1*0.30 + Lab2C1*0.30 + parcial1C1*0.40) #Con lambda
Lab1C1 = float(input("Ingrese la nota del laboratorio 1 del computo 1: "))
Lab2C1 = float(input("Ingrese la nota del laboratorio 2 del computo 1: "))
parcial1C1 = float(input("Inglese la nota del parcial del computo 1: "))
print("La nota del computo 1 es: ", NotaC1(Lab1C1, Lab2C1, parcial1C1))

NotaC2=lambda Lab1C2, Lab2C2, parcial1C2:(Lab1C2*0.30 + Lab2C2*0.30 + parcial1C2*0.40)
Lab1C2 = float(input("Ingrese la nota del laboratorio 1 del  computo 2: "))
Lab2C2 = float(input("Ingrese la nota del laboratorio 2 del computo 2: "))
parcial1C2 = float(input("Inglese la nota del parcial del computo 2: "))
print("La nota del computo 2 es: ", NotaC2(Lab1C2, Lab2C2,parcial1C2 ))

NotaC3=lambda Lab1C3, Lab2C3, parcial1C3:(Lab1C3*0.30 + Lab2C3*0.30 + parcial1C3*0.40)
Lab1C3 = float(input("Ingrese la nota del laboratorio 1 del  computo 3: "))
Lab2C3 = float(input("Ingrese la nota del laboratorio 2 del computo 3: "))
parcial1C3 = float(input("Inglese la nota del parcial del computo 3: "))
print("La nota del computo 3 es: ", NotaC3(Lab1C3, Lab2C3, parcial1C3))
                                           
NotaCiclo=(NotaC1(Lab1C1, Lab2C1, parcial1C1) + NotaC2(Lab1C2, Lab2C2,parcial1C2 ) + NotaC3(Lab1C3, Lab2C3, parcial1C3))/3
print("La nota del ciclo es: ", NotaCiclo)

Ingrese la nota del laboratorio 1 del computo 1: 10
Ingrese la nota del laboratorio 2 del computo 1: 10
Inglese la nota del parcial del computo 1: 10
La nota del computo 1 es:  10.0
Ingrese la nota del laboratorio 1 del  computo 2: 10
Ingrese la nota del laboratorio 2 del computo 2: 10
Inglese la nota del parcial del computo 2: 10
La nota del computo 2 es:  10.0
Ingrese la nota del laboratorio 1 del  computo 3: 10
Ingrese la nota del laboratorio 2 del computo 3: 10
Inglese la nota del parcial del computo 3: 10
La nota del computo 3 es:  10.0
La nota del ciclo es:  10.0

Ejercicio 1 Calculo salario

In [ ]:
sueldo = float(input("Ingrese su sueldo: "))
isss = sueldo*0.03
afp = sueldo * 0.0625
sueldoNeto = sueldo - isss - afp
tablaIsr=[
          [0.01,    472.0,  0,    0     ],
          [472.01,  895.24,  0.10, 17.67 ],
          [895.25,  2038.10, 0.20, 60    ],
          [2038.11, 99999,    0.30, 288.55]
]
isr=0
for tramo in tablaIsr:
  if sueldoNeto>=tramo[0] and sueldo<=tramo[1]: 
   isr=(sueldoNeto-tramo[0])*tramo[2] + tramo[3]
sueldoNeto-=isr
print("Su sueldo es de: ", sueldo, "Deducciones: ", (isss + afp + isr), "Sueldo Neto ", sueldoNeto)

Ejercicio 2 Calculo del consumo de agua

In [ ]:
agua =int(input("Ingrese el consumo de agua: "))
valorFijo=6
if agua<=18:
  print("Su valor a cancelar es de 6 dolares")
elif agua<=28:
    calculo=(agua-18)*0.45 + valorFijo
    print("Su valor a cancelar es de:", calculo, "dolares")
elif agua>=29 and agua<=100:
      calculo=(((agua-28)*0.65)+((28-18)*0.45) +valorFijo)
      print("Su valor a cancelar es de: ", calculo,"dolares")

Ejercicio 3 Meses acumulados

In [ ]:
#Desarrolle la tabla de meses acumulados a n meses

print('\033[4m\033[1mCalcular los meses acumulados:\033[0m\n') 

meses = int(input("Ingrese el n炭mero de meses: "))
acumulacion = 0.5*meses**2+0.5*meses
print("\033[1mLa acumulaci坦n es: \033[0m",acumulacion)

Calcular los meses acumulados:

Ingrese el n炭mero de meses: 2
La acumulaci坦n es:  3.0

Ejercicio 4 Conversores

In [ ]:
valores = [
           [],
           [0, 1, 0.85, 23.8, 35.11, 7.74, 8.75, 621.61, 109.81, 0.73, 97.57], #monedas
           [0, 1, 100, 1000, 1e+6, 1e+9, 0.000621371, 1.09361, 39.3701, 3.28084, 0.000539957], #Longitud
           [0, 1, 1000, 1e+6, 1e+9, 0.000984207, 0.00110231, 0.157473, 2.20462, 35.274, 0.001], #Masa
           [0, 1, 0.001, 0.000976563, 1e-6, 9.5367e-7, 1e-9, 9.3132e-10, 1e-12, 9.0949e-13, 1e-15], #Almacenamiento
           [0, 1, 1e+9, 1e+6, 1000, 0.0166667, 0.000277778, 1.1574e-5, 1.6534e-6, 3.8052e-7, 3.171e-8], #Tiempo
           [0, 1, 0.264172, 1.05669, 2.11338, 4.16667, 33.814, 67.628, 202.884, 0.001, 1000], #Volumen
           [0, 1, 1e-6, 3.861e-7, 1.19599, 10.7639, 1550, 1e-4, 0.000247105, 0.09, 0.03], #Area
           [0, 1, 0.092903, 0.00014774656489, 0.00001317, 9.2903e-6, 0.111111, 0.1111, 9.29e+26, 0.0000929, 0.001858], #Manzana 
           [0, 1, 6768.34687, 0.015537924273, 6.288e-16, 0.06288, 974641.94928, 0.0006288, 0.000020369860692, 7.0252735108e-30, 15537.924273], #Tarea
]
etiquetas = [
           [],
           ["1. Dolar Estadiunidense", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR", "8. Yen", "9. Esterlina", "10. Peso argentino"],
           ["1. Metro", "2. Centimetro", "3. Milimetro", "4. micrometro", "5. Nanometro", "6. Milla", "7. Yarda", "8. Pulgada", "9. Pie", "10. Milla nautica"],
           ["1. Kilogramo", "2. Gramo", "3. Miligramo", "4. Microgramo", "5. Tonelada larga", "6. Tonelada corta", "7. Stone", "8. Libra", "9. Onza", "10. Tonelada"],
           ["1. Bit", "2. Kilobit", "3. Kibibit", "4. Megabit", "5. Mebibit", "6. Gigabit", "7. Gibibit", "8. Terabit", "9. Tebibit", "10. Petabit"],
           ["1. Segundo", "2. Nanosegundo", "3. Microsegundo", "4. Milisegundo", "5. Minuto", "6. Hora", "7. Dia", "8. Semana", "9. Mes", "10. A単o natural"],
           ["1. Litro", "2. Galon estadounidense", "3. Cuarto estadounidense", "4. Pinta estadounidense", "5. Taza americana oficial", "6. Onza liquida estadounidense", "7. Cucharada estadounidense", "8. Cucharadita estadounidense", "9. Metro cubico", "10. Mililitro"],
           ["1. Metro cuadrado", "2. Kilometro cuadrado", "3. Milla cuadrada", "4. Yarda cuadrada", "5. Pie cuadrado", "6. Pulgada cuadrada", "7. Hectarea", "8. Acre", "9. Cuadrado", "10. Rod cuadrado"],
           ["1. Pie cuadrado", "2. Metro cuadrado", "3. Tareas", "4. Manzanas", "5. Hectarea", " 6. Yarda cuadrada", "7. Vara cuadrada", "8. Barn", "9. Decar", "10. Area"],
           ["1. Metro cuadrado", "2. Pie cuadrado", "3. Cuadrados furlong", "4. Gigameter cuadrado", "5. Hectometro cuadrado", "6. Pulgada cuadrada", "7. Kilometro cuadrado", "8. Liga cuadrada", "9. A単o luz cuadrado", "10. Enlace cuadrado"],
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")
print("* 8. Manzana")
print("* 9. Tarea")
conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
* 4. Almacenamiento
* 5. Tiempo
* 6. Volumen
* 7. Area
* 8. Manzana
* 9. Tarea
Conversor: 2
['1. Metro', '2. Centimetro', '3. Milimetro', '4. micrometro', '5. Nanometro', '6. Milla', '7. Yarda', '8. Pulgada', '9. Pie', '10. Milla nautica']
DE: 1
A: 2
Cantidad: 5
Respuesta:  500.0

Ejercicio 5 Conversor propio

In [1]:
valor=[
       [],
       [0, 1, 25,  0.0075 ],#caja
       [0, 1, 50,  0.067 ],#saco
       [0 ,1, 5,  0.059]
]
etiq=[
      [],
      ["1. caja","2.unidades ", "3. cajas/unidades"],
      ["1.saco", "2. libras", "3. sacos/libras"],
      ["1. fardo","2. unidades", "3. fardos/unidades"]
]
def convertir(conversor, de, a, cantidad):
  return valor[conversor][a]/valor[conversor][de] * cantidad


print("***MENU***")
print("1. Cajas")
print("2. saco")
print("3. fardo")


conversor = int(input("Conversor: "))

print( etiq[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

***MENU***
1. Cajas
2. saco
3. fardo
Conversor: 1
['1. caja', '2.unidades ', '3. cajas/unidades']
DE: 1
A: 2
Cantidad: 1
Respuesta:  25.0